/*
    --indigo: #6610f2;
    --blue: #007bff;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
*/
html, body{position:relative; font-family: 'Roboto', sans-serif; color:#343a40;background: #eee; height:100%}
ul{margin:0;padding:0}
li{list-style-type: none;}
a:hover{text-decoration: none;}
.usrLink{border-color: transparent;}
.usrLink:hover,.usrLink:focus,.usrLink:not(:disabled):not(.disabled).active,.usrLink:not(:disabled):not(.disabled):active{border-color: transparent !important;}
#nav{position:fixed;top: 0;z-index:50}
#nav>ul>li {display: inline-block;width: 12%; text-align:center;}
#nav>ul>li>a{color:#adadad;padding:3px;display:block;}
#nav>ul>li>a>span{font-size:10px;display:block;}
#main{min-height:700px;}
#mappa{position:relative; padding:0;display:none;}
#usrMenu{position:fixed;left:0;background:#fff;z-index:3;}
.index.active{color:#dc3545 !important;}
.post.active{color:#ffc107 !important;}
.work.active{color:#28a745 !important;}
.project.active{color:#007bff !important;}
.open.active{color:#17a2b8 !important;}
.team.active{color:#fd7e14 !important;}
.animation{-webkit-transition: all .5s ease; -moz-transition: all .5s ease; -ms-transition: all .5s ease; -o-transition: all .5s ease; transition: all .5s ease;}
.cursor{cursor:pointer;}

.mainTitleGroup{font-family: 'Russo One', sans-serif;}
.mainTitleGroup>h1{text-shadow: 0 2px 2px rgba(0,0,0,.4);}
.bg-twitter{background: rgb(29, 161, 242);}
.text-twitter{color: rgb(29, 161, 242);}
.bg-instagram{background: rgb(188, 42, 141);}
.text-instagram{color: rgb(188, 42, 141);}

.presWrap{position: relative; display: block; width:100%; }
.presImg{position: relative; width: 100%; height:450px; padding:0;z-index:5}
.presImg > figure {
  animation: imageAnimation 160s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}
.presText{position: relative; height: 550px; background:rgba(255,255,255,.8); margin:25px 0;padding:5%; z-index: 10;}
.presText>div{position:relative;height:500px;overflow:auto;}

@keyframes imageAnimation {
  0% {animation-timing-function: ease-in; opacity: 0;}
  3% {animation-timing-function: ease-out; opacity: 1;}
  5% {opacity: 1}
  98% {opacity: 0}
  100% {opacity: 1}
}


@media (max-width: 575px) {
  #nav{left:0;width:100%;}
  #nav a{border-bottom:3px solid transparent;}
  #usrMenu{top:48px;right:0;}
  #mappa{width:96%;margin:0 2%;height:550px;}
  .index.active{border-bottom-color: #dc3545 !important;}
  .post.active{border-bottom-color: #ffc107 !important;}
  .work.active{border-bottom-color: #28a745 !important;}
  .project.active{border-bottom-color: #007bff !important;}
  .open.active{border-bottom-color: #17a2b8 !important;}
  .team.active{border-bottom-color: #fd7e14 !important;}
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767px) {
  #nav{left:0;width:100%;}
  #nav a{border-bottom:3px solid transparent;}
  #usrMenu{top:48px;right:0;}
  #mappa{width:96%;margin:0 2%;height:250px;}
  .index.active{border-bottom-color: #dc3545 !important;}
  .post.active{border-bottom-color: #ffc107 !important;}
  .work.active{border-bottom-color: #28a745 !important;}
  .project.active{border-bottom-color: #007bff !important;}
  .open.active{border-bottom-color: #17a2b8 !important;}
  .team.active{border-bottom-color: #fd7e14 !important;}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  #nav{left:0;width:100%;}
  #nav a{border-bottom:3px solid transparent;}
  .index.active{border-bottom-color: #dc3545 !important;}
  .post.active{border-bottom-color: #ffc107 !important;}
  .work.active{border-bottom-color: #28a745 !important;}
  .project.active{border-bottom-color: #007bff !important;}
  .open.active{border-bottom-color: #17a2b8 !important;}
  .team.active{border-bottom-color: #fd7e14 !important;}
  #usrMenu{top:48px;right:0;}
  #mappa{display:block;}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199px) {
  #main{position:absolute;top: 0;left: 0;bottom:0; right: 5%; z-index:1}
  #nav{bottom:0;right:0;width:5%;}
  #nav>ul {width:100%;height:100%;}
  #nav>ul>li {display: block;width: 100%; height:12.5%;}
  #nav>ul>li>a{border-left:3px solid transparent;font-size: 30px;height:100%;padding:15px 0;}
  #nav>ul>li>a>span{font-size:12px;}
  #usrMenu{top:0; left:0;right:5%;}
  #mappa{display:block;}

  .presWrap{height: 550px;width:100%;padding-top:50px;}
  .presText{position: absolute; height: 550px; width: 500px; top: 0; right: 50px;margin:0;padding:0; background:rgba(255,255,255,.8); z-index: 10;}
  .presText>div{position:relative;height:500px;width:450px;margin:25px;padding:10px;overflow:auto;}

  .index.active{border-left-color: #dc3545 !important;}
  .post.active{border-left-color: #ffc107 !important;}
  .work.active{border-left-color: #28a745 !important;}
  .project.active{border-left-color: #007bff !important;}
  .open.active{border-left-color: #17a2b8 !important;}
  .team.active{border-left-color: #fd7e14 !important;}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #main{position:absolute;top: 0;left: 0;bottom:0; right: 5%; z-index:1}
  #nav{bottom:0;right:0;width:5%;}
  #nav>ul {width:100%;height:100%;}
  #nav>ul>li {display: block;width: 100%; height:12.5%;}
  #nav>ul>li>a{border-left:3px solid transparent;font-size: 35px;height:100%;padding:15px 0;}
  #nav>ul>li>a>span{font-size:15px;}
  #usrMenu{top:0; left:0;right:5%;}
  #mappa{width: 100%;height:750px;margin:0;display:block;}

  .presWrap{height: 550px;width:100%;padding-top:50px;}
  .presText{position: absolute; height: 550px; width: 500px; top: 0; right: 50px;margin:0;padding:0; background:rgba(255,255,255,.8); z-index: 10;}
  .presText>div{position:relative;height:500px;width:450px;margin:25px;padding:10px;overflow:auto;}

  .index.active{border-left-color: #dc3545 !important;}
  .post.active{border-left-color: #ffc107 !important;}
  .work.active{border-left-color: #28a745 !important;}
  .project.active{border-left-color: #007bff !important;}
  .open.active{border-left-color: #17a2b8 !important;}
  .team.active{border-left-color: #fd7e14 !important;}
  .index:hover{color: #dc3545 !important;border-left-color: #dc3545 !important;}
  .post:hover{color: #ffc107 !important;border-left-color: #ffc107 !important;}
  .work:hover{color: #28a745 !important;border-left-color: #28a745 !important;}
  .project:hover{color: #007bff !important;border-left-color: #007bff !important;}
  .open:hover{color: #17a2b8 !important;border-left-color: #17a2b8 !important;}
  .team:hover{color: #fd7e14 !important;border-left-color: #fd7e14 !important;}
  .login:hover, .submenu:hover{color: #fff !important;}
}
